include mixins
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Hawkeye - #{page.title}
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    block header
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/ionicons.min.css')
    link(rel='stylesheet', href='/css/AdminLTE.min.css')
    link(rel='stylesheet', href='/css/skins/skin-black.min.css')
    link(rel='stylesheet', href='/css/highlightjs.min.css')
    link(rel='stylesheet', href='/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='/css/buttons.dataTables.min.css')
    link(rel='stylesheet', href='/css/hawkeye.min.css')

    //if lt IE 9
      script(src='dist/js/html5shiv.min.js')
    //
  body.hold-transition.skin-black.sidebar-mini.layout-boxed
    .wrapper
      header.main-header
        a.logo(href='/')
          span.logo-mini
            b H
            | E
          span.logo-lg
            b Hawk
            | eye
        nav.navbar.navbar-static-top(role='navigation')
          a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
            span.sr-only Toggle navigation
          .navbar-custom-menu
            ul.nav.navbar-nav
              li.dropdown.user.user-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                  img.user-image(src=user.avatar_url, alt='User Image')
                  |
                  span.hidden-xs #{user.login}
                ul.dropdown-menu
                  li.user-header
                    img.img-circle(src=user.avatar_url, alt='User Image')
                    p
                      | #{user.name}
                      small #{user.created_at}
                  li.user-footer
                    .pull-right
                      a.btn.btn-default.btn-flat(href='/logout') Sign out

      aside.main-sidebar
        section.sidebar
          ul.sidebar-menu
            li.header Repos
            form.sidebar-form(action='#', method='get')
              .input-group
                input#filter-repo.form-control(type='text', placeholder='Filter...')
                |
                span.input-group-btn
                  button.btn.btn-flat(type='submit', name='search')
                    i.fa.fa-search

            each item in navItems
              +nav_link(item)
      .content-wrapper
        section.content-header
          h1
            | #{page.title}
          small #{page.subTitle}
          ol.breadcrumb
            each crumb in breadCrumbs
              li(class=(crumb.active ? 'active' : ''))
                a(href=crumb.url)
                  |  #{crumb.text}

        section.content
          block content
      footer.main-footer
        .pull-right.hidden-xs
          b Version
          |  0.1.0
        |
        strong &nbsp;

    script(src='/js/jquery-2.2.3.min.js')
    script(src='/js/js.cookie.min.js')
    script(src='/js/jquery.slimscroll.min.js')
    script(src='/js/fastclick.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/adminlte.min.js')
    script(src='/js/highlightjs.min.js')
    script(src='/js/jquery.sparkline.min.js')
    script(src='/js/jquery.dataTables.min.js')
    script(src='/js/dataTables.bootstrap.min.js')
    script(src='/js/dataTables.buttons.min.js')
    script(src='/js/buttons.html5.min.js')
    script(src='/js/select2.full.min.js')
    script(src='/js/hawkeye.min.js')
    block javascript
