include mixins
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Hawkeye
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/landingPage.min.css')
    link(rel='stylesheet', href='/css/codemirror.min.css')
    link(rel='stylesheet', href='/css/codemirror-theme-material.min.css')
    link(rel='stylesheet', href='/css/hawkeye.min.css')

  body
    header
      a.github-corner(href='https://github.com/Stono/hawkeye', aria-label='View CLI on Github')
        svg(width='80', height='80', viewbox='0 0 250 250', style='fill:#444444; color:#fff; position: absolute; top: 0; border: 0; right: 0;', aria-hidden='true')
          path(d='M0 0 115 115 130 115 142 142 250 250 250 0Z')
          path.octo-arm(d='M128.3 109C113.8 99.7 119 89.6 119 89.6 122 82.7 120.5 78.6 120.5 78.6 119.2 72 123.4 76.3 123.4 76.3 127.3 80.9 125.5 87.3 125.5 87.3 122.9 97.6 130.6 101.9 134.4 103.2', fill='currentColor', style='transform-origin: 130px 106px;')
          path.octo-body(d='M115 115C114.9 115.1 118.7 116.5 119.8 115.4L133.7 101.6C136.9 99.2 139.9 98.4 142.2 98.6 133.8 88 127.5 74.4 143.8 58 148.5 53.4 154 51.2 159.7 51 160.3 49.4 163.2 43.6 171.4 40.1 171.4 40.1 176.1 42.5 178.8 56.2 183.1 58.6 187.2 61.8 190.9 65.4 194.5 69 197.7 73.2 200.1 77.6 213.8 80.2 216.3 84.9 216.3 84.9 212.7 93.1 206.9 96 205.4 96.6 205.1 102.4 203 107.8 198.3 112.5 181.9 128.9 168.3 122.5 157.7 114.1 157.9 116.9 156.7 120.9 152.7 124.9L141 136.5C139.8 137.7 141.6 141.9 141.8 141.8Z', fill='currentColor')

      nav.navbar
        .navbar-header
          .navbar-brand
            img.pull-left(src='images/logo.png')
            h3.pull-right
              strong Hawk
              | eye
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.btn.btn-default.btn-sm.btn-social.btn-github.hidden(href='/oauth/github')
                i.fa.fa-github
                |  Sign in with GitHub
            li.nav-item.nav-link

    .wrap
      .content
        .row.description
          section.centered-wrapper
            .hero.col-md-12
              h1 Automated project security and vulnerability scanning
              p Check for issues in your projects right now, with just a single click
              a.btn.btn-default.btn-lg.btn-social.btn-github(href='/oauth/github')
                i.fa.fa-github
                |  Sign in with GitHub
            .col-md-12.screenshoot
              textarea#console
        .row.customer-counters
          section.centered-wrapper
            .hero.col-md-12
              h1 Projects and User counters
              p Join the growing community of secure application developers
            .counters.col-md-12
              ul.list-inline
                li
                  h1
                    i.fa.fa-briefcase.fa-6(aria-hidden='true')
                  p(style='display: none') #{stats.repos}
                li
                  h1
                    i.fa.fa-users.fa-6(aria-hidden='true')
                  p(style='display: none') #{stats.users}
            .counters.col-md-12
              h1 Issues found so far
              #container.flipclock
                ul.flip.hour
                  each item in stats.issues
                    li
                      section.active
                        .up
                          .shadow
                          .inn #{item}
                        .down
                          .shadow
                          .inn #{item}
              .clearfix


        .row.oop
          section.centered-wrapper
            .hero.col-md-12
              h1  Scanning your open source project is 100% free
              p And for the foreseeable future, so is scanning your private projects too!

        //.row.private-projects
          //section.centered-wrapper
            //.hero.col-md-12
              //h1  Have a private projects?
              //p They are also free, for a limited time.

        .row.features
          section.centered-wrapper
            .card.col-md-4
              h1
                i.fa.fa-search.fa-6(aria-hidden='true')
              ul
                li
                  | Module Vulnerability Scanning for nodejs and ruby using&nbsp;
                  a(href='https://nodesecurity.io/advisories') Node Security Project&nbsp;
                  | and&nbsp;
                  a(href='https://github.com/rubysec/bundler-audit') Bundler Audit
                li
                  | Outdated module checking for nodejs, using &nbsp;
                  a(href='https://github.com/tjunnone/npm-check-updates') NPM Check Updates
                li
                  | Bad file pattern matching, including patterns from&nbsp;
                  a(href='https://github.com/michenriksen/gitrob') GitRob
                li
                  | Custom file content searching for things like private keys, passwords, high entropy strings
            .card.col-md-4
              h1
                i.fa.fa-area-chart.fa-6(aria-hidden='true')
              ul
                li
                  | Consolidated reporting across all scanners
                li
                  | On demand scanning, as well as continual scanning through schedules
                li
                  | GitHub integration for scanning on push
                li
                  | Email alerting when issues are detected in your project
            .card.col-md-4
              h1
                i.fa.fa-shield.fa-6(aria-hidden='true')
              ul
                li
                  | We only require the minimum amount of scopes from GitHub in order to operate.  You can use GitHub organisation ACLs to restrict our access
                li
                  | Each clone and scan is performed in its own, ephemeral docker container, ensuring your code is never stored, or shared
                li Our database, and messaging is encrypted using AES256-CTR
                li Your connections to this site are entirely HTTPS
        .row.build-flow
          section.centered-wrapper
            .hero.col-md-12
              h1 Example Workflow
              div
                .branch
                  i.fa.fa-file-code-o.fa-5(aria-hidden='true')
                  p Checkin Code
                .divider-arrow
                  i.fa.fa-angle-right(aria-hidden='true')
                .branch
                  i.fa.fa-github(aria-hidden='true')
                  p GitHub Hook
                .divider-arrow
                  i.fa.fa-angle-right(aria-hidden='true')
                .branch
                  i.fa.fa-search(aria-hidden='true')
                  p Immediate Scan
                .divider-arrow
                  i.fa.fa-angle-right(aria-hidden='true')
                .branch
                  i.fa.fa-rocket(aria-hidden='true')
                  p Deploy
                .divider-arrow
                  i.fa.fa-angle-right(aria-hidden='true')
                .branch
                  i.fa.fa-search(aria-hidden='true')
                  p
                    | Scheduled
                    br
                    |  Scans
        .row.description
          section.centered-wrapper
            .hero.col-md-12
              a.btn.btn-default.btn-lg.btn-social.btn-github(href='/oauth/github')
                i.fa.fa-github
                |  Sign in with GitHub

      footer
        .container
          .row
            .col-md-6
              ul.footer-links
                li
                  a(href='https://karlstoney.com') Karl Stoney
            .col-md-6
              p.text-right Use of this software is provided without warranty
              p.text-right All scanning modules are subject to their own licenses


    script(src='/js/jquery-2.2.3.min.js')
    script(src='/js/codemirror.min.js')
    script(src='/js/codemirror-shell.min.js')
    script(src='/js/common.min.js')
    script(src='/js/landingPage.min.js')
    block javascript
