p The following new issues have been detected in your scan:
br

each issue in issues
  p
    strong Level:&nbsp;
    | #{issue.level}
  p
    strong Offender:&nbsp;
    | #{issue.offender}
  p
    strong Description:&nbsp;
    | #{issue.code}: #{issue.description}
  p
    strong Mitigation:&nbsp;
    | #{issue.mitigation}
  br

p To view more information, and to change your notification settings for this repository, please go to&nbsp;
  a(href='https://hawkeye.website/repo/' + repo.fullName) the repository dashboard
  | .
